.root {
  margin-top: 5%;
}

.title {
  margin-top: 5%;
}

.emptyButton {
  min-width: 150px;
}

.checkoutButton {
  min-width: 150px;
}

.carDetails {
  display: flex;
  margin-top: 10%;
  width: 100%;
  justify-content: space-between;
}
