.media{
    height: 260;
}

.cartContent{
    display: flex;
    justify-content: space-between;
}

.cartActions{
    justify-content: space-between;
}

.buttons{
    display: flex;
    align-items: center;
}